---
import ReactJS from "@icons/ReactJs.astro";
import TypeScript from "@icons/TypeScript.astro";
import TailwindCSS from "@icons/TailwindCSS.astro";
import NodeJS from "@icons/NodeJS.astro";
import ExpressJS from "@icons/ExpressJS.astro";
import MongoDB from "@icons/MongoDB.astro";
import GitHubIcon from "@icons/GitHub.astro";

const PROJECTS = [
    {
        title: "devQ",
        description:
            "Website for technical interview questions and interviews for the developer world.",
        link: "https://devq.vercel.app/",
        gitHub: "GitHub",
        gitHubHover: "https://github.com/DaviidBlanch/devQ",
        githubIcon: GitHubIcon,
        image: "/projects/devQ.webp",
        frontend: [
            {
                id: 1,
                nombre: "ReactJS",
                color: "bg-[#087EA4]/10",
                icon: ReactJS,
            },
            {
                id: 2,
                nombre: "TypeScript",
                color: "bg-[#3178c6]/10",
                icon: TypeScript,
            },
            {
                id: 3,
                nombre: "TailwindCSS",
                color: "bg-[#38bdf8]/10",
                icon: TailwindCSS,
            },
        ],
        backend: [
            {
                id: 1,
                nombre: "NodeJS",
                color: "bg-[#026E00]/10",
                icon: NodeJS,
            },
            {
                id: 2,
                nombre: "ExpressJS",
                color: "bg-[#353535]/10",
                icon: ExpressJS,
            },
            {
                id: 3,
                nombre: "MongoDB",
                color: "bg-[#42494f]/10",
                icon: MongoDB,
            },
        ],
    },
    {
        title: "4day",
        description:
            "Professional social network to promote temporary contracts and increase employability in the hospitality sector.",
        link: "#",
        gitHub: "GitHub",
        githubHover: "",
        githubIcon: GitHubIcon,
        image: "/projects/4day.webp",
        frontend: [
            {
                id: 1,
                nombre: "ReactJS",
                color: "bg-[#087EA4]/10",
                icon: ReactJS,
            },
            {
                id: 2,
                nombre: "TypeScript",
                color: "bg-[#3178c6]/10",
                icon: TypeScript,
            },
        ],
        backend: [
            {
                id: 1,
                nombre: "NodeJS",
                color: "bg-[#026E00]/10",
                icon: NodeJS,
            },
            {
                id: 2,
                nombre: "ExpressJS",
                color: "bg-[#353535]/10",
                icon: ExpressJS,
            },
            {
                id: 3,
                nombre: "MongoDB",
                color: "bg-[#42494f]/10",
                icon: MongoDB,
            },
        ],
    },
];
---

{
    PROJECTS.map((project) => (
        <article class="mb-10">
            <h3 class="text-2xl font-semibold dark:text-sky-300 text-sky-700 mb-2">
                {project.title}
            </h3>
            <p class="text-lg mb-4 text-pretty dark:text-white">{project.description}</p>
            <ul class="flex gap-2 flex-row mb-2 flex-wrap">
                {project.frontend.map((front) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${front.color} dark:text-white`}
                        >
                            <front.icon class="size-4" />
                            {front.nombre}
                        </span>
                    </li>
                ))}
                {project.backend.map((back) => (
                    <li>
                        <span
                            class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${back.color} dark:text-white`}
                        >
                            <back.icon class="size-4" />
                            {back.nombre}
                        </span>
                    </li>
                ))}
                <li>
                    <a
                        class={`flex gap-x-2 rounded-full text-xs py-1 px-2 dark:text-white`}
                        href={project.gitHubHover}
                        target="_blank"
                        rel="noreferrer"
                    >
                        <project.githubIcon class="size-4" />
                        {project.gitHub}
                    </a>
                </li>
            </ul>
            <a href={project.link} target="_blank" rel="noreferrer">
                <img
                    class="rounded shadow-2xl shadow-white/10 hover:scale-95 transition"
                    src={project.image}
                    alt={`Screenshot of ${project.image}`}
                />
            </a>
        </article>
    ))
}
