---
import "@fontsource-variable/onest";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Language" content="en" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href="https://www.davidblanch.dev/" />

		<!-- Agrega enlaces a robots.txt y sitemap.xml -->
		<link rel="robots" href="robots.txt" />
		<link
			rel="sitemap"
			type="application/xml"
			title="Sitemap"
			href="sitemap.xml"
		/>

		<meta name="generator" content={Astro.generator} />
		<meta
			name="keywords"
			content="David, David Blanch, David Blanch Portfolio, Portfolio, Desarrollador Web, Programador Full Stack, Proyectos Web, Programación, Desarrollo de Software, FrontEnd"
		/>
		<meta name="author" content="David Blanch" />

		<meta
			name="google-site-verification"
			content="YZNR5Ivc_LDF-mSSVVgsfc27nPOXs6mAn1ojDGlCZnA"
		/>

		<!-- Open Graph -->
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="public\Portfolio.webp" />
		<meta property="og:url" content="https://www.davidblanch.dev/" />
		<meta property="og:site_name" content="David's portfolio" />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@Blaanch98" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="public\Portfolio.webp" />

		<!-- Facebook card -->
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="public\Portfolio.webp" />
		<meta property="og:url" content="https://www.davidblanch.dev/" />
		<meta property="og:site_name" content="David's portfolio" />

		<!-- Instagram card -->
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="public\Portfolio.webp" />
		<meta property="og:url" content="https://www.davidblanch.dev/" />
		<meta property="og:site_name" content="David's portfolio" />

		<!-- Discord card -->
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="public\Portfolio.webp" />
		<meta property="og:url" content="https://www.davidblanch.dev/" />
		<meta property="og:site_name" content="David's portfolio" />

		<!-- Title -->
		<title>{title}</title>

		<!-- JSON-LD script for structured person data -->
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Person",
				"name": "David Blanch",
				"url": "https://www.davidblanch.dev/",
				"sameAs": [
					"https://twitter.com/Blaanch98",
					"https://www.linkedin.com/in/david-blanch-bellido/",
					"https://github.com/DaviidBlanch",
					"https://www.instagram.com/davidblanch98/"
				]
			}
		</script>
	</head>
	<body class="bg-neutral-950">
		<div
			class="absolute z-[-2] bottom-0 left-0 right-0 bg-neutral-950 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
		>
		</div>
		<Header />
		<slot />
		<Footer />
		<style is:global>
			:root {
				color-scheme: dark;
			}
			html {
				font-family: "Onest Variable", system-ui, sans-serif;
				scroll-behavior: smooth;
			}

			body {
				display: flex;
				flex-direction: column;
				min-height: 100vh;
			}

			@media (prefers-reduced-motion: reduce) {
				html {
					scroll-behavior: auto;
				}
			}
		</style>
	</body>
</html>
